<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/static/mysite/style.css" />
	</head>
	<body>
		<div id="wrapper">
			<input id="hamburger-ch" type="checkbox"></input>
			<div id="hamburger-icon"></div>
			<div id="menu-bg">
			</div>
			<img id="close-menu" width="48" height="48" src="https://img.icons8.com/material-rounded/48/delete-sign.png" alt="delete-sign"/>
			<div id="menu">
			</div>
			
			<div id="blur">
				
					<div id="logo"></div>
				<div id="navbar">
				</div>
				<div id="container">
					<input type="checkbox" id="sidepanel-options-ch"></input>
					<div id="sidepanel-options-ch-icon"></div>
					<div id="sidepanel">
						<h4>Попробуйте уменьшить размер окна</h4>
					</div>
					<div id="sidepanel-options">
						<form name="options">
							<h3>Сортировка:</h3>
							<select name="sort">
								<option name="sale">Акция
								<option name="popular">Популярные
								<option name="cost-d">Цена (От меньш. к больш.)
								<option name="cost-u">Цена (От больш. к меньш.)
							</select>
						</form>
					</div>
					<div id="content">
						<div id="grid">
							<div class="grid-item">
								<div class="grid-item-cont">
									<h2>Super Elite Watches</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div style="background-image: url('https://avatars.mds.yandex.net/i?id=cd384e10a3e1562bfdcf8b650d2ac444-5559980-images-thumbs&n=13')" class="grid-img">
								</div>
							</div>
							<hr>
							<div class="grid-item">
								<div class="grid-item-cont">
									<h2>Super Elite Watches</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div style="background-image: url('https://avatars.mds.yandex.net/i?id=cd384e10a3e1562bfdcf8b650d2ac444-5559980-images-thumbs&n=13')" class="grid-img"></div>
							</div>
							<hr>
							<div class="grid-item">
								<div class="grid-item-cont">
									<h2>Super Elite Watches</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div style="background-image: url('https://avatars.mds.yandex.net/i?id=cd384e10a3e1562bfdcf8b650d2ac444-5559980-images-thumbs&n=13')" class="grid-img"></div>
							</div>
							<hr>
							<div class="grid-item">
								<div class="grid-item-cont">
									<h2>Super Elite Watches</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div style="background-image: url('https://avatars.mds.yandex.net/i?id=cd384e10a3e1562bfdcf8b650d2ac444-5559980-images-thumbs&n=13')" class="grid-img"></div>
							</div>
							<hr>
							<div class="grid-item">
								<div class="grid-item-cont">
									<h2>Super Elite Watches</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div style="background-image: url('https://avatars.mds.yandex.net/i?id=cd384e10a3e1562bfdcf8b650d2ac444-5559980-images-thumbs&n=13')" class="grid-img"></div>
							</div>
							<hr>
							<div>
								<center>
									<button id="back">Back</button>
									<button id="forward">Forward</button>
								</center>
							</div>
						</div>
					</div>
				</div>
				<div id="footer">
					<center>
						<br>
						<h2>Кенжебаев Ерден ПО2201</h2>
					</center>
				</div>
			</div>
		</div>
	</body>
</html>
