<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft ot Madi</title>
    <link rel="stylesheet" href="/static/madik/style.css" >
</head>
<header>
    <div id="header"></div>
    <div class="shapka">
        <nav>
    <ul>
        <li><a href=""><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"></a></li>
   <span class="glav">
        <li><a href="https://www.microsoft.com/ru-ru/microsoft-365?rtc=1">Microsoft 365</a></li>
        <li><a href="https://www.microsoft.com/ru-ru/microsoft-teams/group-chat-software?rtc=1">Teams</a></li>
        <li><a href="https://support.microsoft.com/ru-ru/windows">Windows</a></li>
        <li><a href="https://www.xbox.com/ru-RU/games/forza-motorsport">Xbox</a></li>
        <li><a href="https://support.microsoft.com/ru-ru">Поддержка</a></li></span>
        <span class="glavprav"> 
        <div class="dropdown">
  <button class="dropbtn">Продукты Майкрософт&#9660;</button>
  <div class="dropdown-content">
    <a href="#">ПО</a>
    <a href="#">Компьютеры и устройства</a>
    <a href="#">Развлечения</a>
    <a href="#">Для бизнеса</a>
    <a href="#">Для разработчиков и ИТ</a>
    <a href="#">Другое</a>
  </div>
</div>
<form action="" method="get" class="poisk">
    <input name="s" placeholder="Искать здесь..." type="search">
    <button class="poisk1" type="submit">Поиск</button>
  </form>
  <button id="login" class="login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

  <div id="id01" class="modal">
    
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="input" type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input id="input" type="password" placeholder="Enter Password" name="psw" required>
          
        <button id="login" type="submit">Login</button>
        <label>
          <input id="input" type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button id="cancel" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
    </span>
    </ul>  
        </nav>
    </div>
</header>
<body link="#0067b8" alink="#00579a" vlink="#0067b8">
    <div align="center" id="sanksi"><a id="sanksi2" href="https://blogs.microsoft.com/on-the-issues/2022/03/04/microsoft-suspends-russia-sales-ukraine-conflict/?icid=mscom_marcom_TS1_Sales_update">
        Компания Майкрософт приостановила все новые продажи продуктов и услуг в России. Подробнее &#8250;
    </a></div>
    <div class="imgshapka">
        <img id="glavimg" src="https://pureinfotech.com/wp-content/uploads/2021/06/Windows-11-Tablet-Device-Render.jpg">
    <span id="bigtext">Разработано для жизни — <br>сегодня и в будущем</span>
    <span id="smalltext">Следующее поколение игр. Ваши цели. Друзья и семья. С Windows <br>11 вы станете еще ближе к тому, что успели полюбить.    </span>
    <form action="https://support.microsoft.com/ru-ru/windows#pchealthcheck">
        <button>Проверьте, готов ли ваш ПК</button>
    </form></div>
    <div class="fourimg" align="center">
        <img src="https://news-cdn.softpedia.com/images/news2/microsoft-officially-launches-the-microsoft-edge-built-in-vpn-support-535378-2.jpg">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Soft-CP-OneDriveCampaignRefresh-2?wid=380&hei=213&fit=crop">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-PC-SMB-OneNote?wid=406&hei=230&fit=crop">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-PC-Bing?wid=406&hei=230&fit=crop">
    </div>
    <div class="fourh">
<h2>Microsoft Edge&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
    Microsoft OneDrive&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
    OneNote&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
    Bing
</h2>
<span>Потрясающая производительность, больше&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
    Сохраняйте свои файлы и фотографии на&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    Приведите свои заметки и дела в порядок.&emsp;&emsp;&emsp;&emsp;&emsp;
    Поиск видео, картинок, карт, новостей и<br>&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
    конфиденциальности, продуктивности и&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
    OneDrive — они будут доступны с любого&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp; многого другого. <br>
    &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;дополнительных возможностей.
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
    &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;устройства и где угодно.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
</span>
    </div>
    <br>
    <div class="perehod">
        <a href="https://www.microsoft.com/ru-ru/edge?form=MI13F3&OCID=MI13F3">Скачать &#8250;</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="https://www.microsoft.com/ru-ru/microsoft-365/onedrive/online-cloud-storage?icid=mscom_marcom_CPH2a_OneDrive">Подробнее &#8250;</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="https://www.microsoft.com/ru-ru/microsoft-365/onenote/digital-note-taking-app?icid=mscom_marcom_CPH3a_OneNote">Узнать больше &#8250;</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="https://www.bing.com/?cc=ru">Найти сейчас &#8250;</a>
    </div>
    <br>
    <div class="imgshapka2">
        <img src="https://pbs.twimg.com/media/E-tS9BhXsAU9KFE.jpg">
        <span id="bigtext2">Outlook для iOS и<br> Android</span>
        <span id="smalltext2">Будьте на связи. Организовывайте. Успевайте больше.</span>
        <form action="https://www.microsoft.com/ru-ru/microsoft-365/outlook-mobile-for-android-and-ios?icid=mscom_marcom_MPH1a_OutlookApp">
            <button>Скачать</button>
    </div>
    <br>
    <div id="nedofoot">
        <span>
            Подписаться на новости Майкрософт &nbsp;&nbsp;
            <a href="https://twitter.com/RusMicrosoft"><img src="https://pbs.twimg.com/media/EisZyiLXYAUZbGT?format=jpg&name=large"></a>&nbsp; 
            <a href="https://www.youtube.com/user/rumicrosoft"><img src="https://e7.pngegg.com/pngimages/478/171/png-clipart-youtube-music-logo-computer-icons-youtube-angle-rectangle.png" alt=""></a>
        </span>
    </div>
    <br>
    <br>
</body>
<footer>
   <a href="#header" title="Вернуться к началу страницы" class="topNubex">Вверх</a>
    <span><br><br><b>Что нового?</b><br><br>
    <a href="#">Microsoft 365</a><br><br>
    <a href="#">Приложения Windows 11</a><br><br></span>
    <br><br><br>Русский (Россия)&ensp;&ensp;
    Ваши варианты выбора параметров конфиденциальности&ensp;&ensp;
    Связаться с Майкрософт&ensp;&ensp; Конфиденциальность&ensp;&ensp; Условия использования&ensp; Товарные знаки&ensp;&ensp; Сведения о рекламе&ensp;&ensp; © Microsoft 2023
<br><br>
</footer>
</html>
